<div class="container">
  <h1>Welcome to Thoughtbox</h1>

  <h4>...the place for your thoughts...</h4>

  <br>

<div class="row" id="save-link">
  <div class="input-form">
    <%= form_for(:session, url: login_path) do |f| %>

      <fieldset class="form-group col-md-4">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      </fieldset>

      <fieldset class="form-group col-md-4">
        <%= f.label :password %>
        <%= f.text_field :password, class: "form-control", placeholder: "Password" %>
      </fieldset>

      <fieldset class="form-group col-md-6">
        <span class="login-signup">
          <%= f.submit "LOGIN", class:"btn btn-primary", method: :create %>
            or
          <%= link_to "SIGN UP", new_user_path, class:"btn btn-primary"%>
        </span>
      </fieldset>
    <% end %>
  </div>
</div>

</div>
