
<h1>My Thoughtbox</h1>
<h4>... the place for my thoughts ... </h4>

<%= link_to "Sign Out", logout_path, method: :delete, class: "btn btn-warning" %>

<h2>Enter a new Link</h2>

<div class="row" id="save-link">
  <div class="input-form">
    <%= form_for @link do |f| %>

      <fieldset class="form-group col-md-4">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </fieldset>

      <fieldset class="form-group col-md-4">
        <%= f.label :url %>
        <%= f.text_field :url, class: "form-control", placeholder: "http://www.example.com" %>
      </fieldset>

      <fieldset class="form-group col-md-6">
        <%= f.submit "Save Link", class: "btn btn-primary" %>
      </fieldset>

    <% end %>
  </div>
</div>

<h2>My Links</h2>

<!-- <div class="row">
  <div class="col-md-4"> -->
    <h4>Filter Links</h4>
    <form class="form-inline" id="search-link">
      <div class="form-group">
        <label class="sr-only" for="search"></label>
        <!-- <input type="text" class="form-control" id="link-text" placeholder="Search"> -->
        <input type="text" class="form-control" id="filterLinks" placeholder="Search Term">
      </div>
    </form>
  <!-- </div>
  <div class="col-md-3"> -->
    <%= button_tag "Sort Links", id: "sortLinks", class: "btn btn-primary"%>
  <!-- </div>
</div> -->


<div class="links">
 <div class="list-group">
  <% @links.each do |link| %>
   <li class="list-group-item everyLink" data-id=" <%= link.id %>">
     <h3 class="list-group-item-heading">
     <div class="title"><%= link.title %>
     </div></h3>
     <h4 class="list-group-item-text">
     <div class="url"><%= link_to link.url, link.url %>
     </div></h4><br>
     <p class="list-group-item-text">
     This link is <b><%= link.read_status %></b></p><br>
     <p><%= link_to "Edit Link", edit_link_path(link), class: "btn btn-primary" %></p>
  <% end %>
 </div>
</div>
