<div class="navbar navbar-default">
  <h4 class="navbar-left">
    Welcome, <%= current_user.email %>
  </h4>
  <div class="navbar-right">
    <%= link_to "Sign Out", logout_path, method: :delete, class: "btn btn-danger sign-out" %>
  </div>
</div>

<h1>My Thoughtbox</h1>

<section class="new-link">
  <h3>Enter a new Link</h3>
  <%= render partial: "link_form", locals: { url: { controller: 'links', action: 'create'}, message: "Save Link" } %>
</section>

<section class="my-links">
  <h2>My Links</h2>
  <div class="row">
    <div class="col-md-5 col-sm-6 link-buttons">
      <%= button_tag "Sort Links", id: "sortLinks", class: "btn btn-primary"%>
      <%= button_tag "Unread Links", id: "unreadLinks", class: "btn btn-primary"%>
      <%= button_tag "Read Links", id: "readLinks", class: "btn btn-primary"%>
      <%= button_tag "All Links", id: "allLinks", class: "btn btn-primary"%>
    </div>
    <div class="col-md-4">
      <form class="form-inline" id="search-link"><b class="search">Search Links</b>
        <label class="sr-only" for="search"></label>
        <input type="text" class="form-control" id="filterLinks" placeholder="search for...">
      </form>
    </div>
  </div>
</section>

<section class="links">
  <div class="list-group">
    <% @links.each do |link| %>
      <li class="list-group-item everyLink <%= link.read_status %>" data-id="<%= link.id %>">
      <h3 class="list-group-item-heading">
      <div class="title"><%= link.title %>
      </div></h3>
      <h4 class="list-group-item-text">
      <div class="url"><%= link_to link.url, link.url, target: "blank" %>
      </div></h4><br>

      <p class="list-group-item-text">
      <button class="btn btn-warning markAsRead <%= "hidden" if link.read %>">Mark as Read</button>
      <button class="btn btn-warning markAsUnread <%= "hidden" if !link.read %>">Mark as Unread</button>
      <%= link_to "Edit Link", edit_link_path(link), class: "btn btn-primary" %></p>
    <% end %>
  </div>
</section>
